# Credit Default Analysis

## Notes and Approach
Loading data for exploration

In [124]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#from sklearn.preprocessing import Imputer
#from sklearn.preprocessing import PolynomialFeatures
#from sklearn.preprocessing import StandardScaler
#from sklearn.feature_selection import VarianceThreshold
#from sklearn.feature_selection import SelectFromModel
#from sklearn.utils import shuffle
#from sklearn.ensemble import RandomForestClassifier
#from subprocess import check_output
#import xgboost as xgb
#from sklearn.ensemble import GradientBoostingClassifier
#from sklearn.ensemble import GradientBoostingRegressor
#from multiprocessing import *
from sklearn.model_selection import train_test_split
#from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 500)

In [125]:
import sys
print("Software Versions:")
print(sys.version)

for name, module in sorted(sys.modules.items()): 
    if hasattr(module, '__version__'): 
        print(name + " : " + str(module.__version__))

Software Versions:
3.5.4 |Anaconda custom (64-bit)| (default, Nov  8 2017, 14:34:30) [MSC v.1900 64 bit (AMD64)]
IPython : 6.2.1
IPython.core.release : 6.2.1
PIL : 4.2.1
PIL.version : 4.2.1
_csv : 1.0
_ctypes : 1.1.0
_decimal : 1.70
_pytest : 3.3.0
argparse : 1.1
attr : 17.3.0
babel : 2.5.0
cffi : 1.11.2
cgi : 2.6
colorama : 0.3.9
csv : 1.0
ctypes : 1.1.0
cycler : 0.10.0
dateutil : 2.6.1
decimal : 1.70
decorator : 4.1.2
distutils : 3.5.4
docutils : 0.14
docutils.core : 0.14
docutils.utils.roman : 1.4
ipaddress : 1.0
ipykernel : 4.7.0
ipykernel._version : 4.7.0
ipython_genutils : 0.2.0
ipython_genutils._version : 0.2.0
ipywidgets : 7.0.5
ipywidgets._version : 7.0.5
jedi : 0.11.0
jinja2 : 2.10
json : 2.0.9
jupyter_client : 5.1.0
jupyter_client._version : 5.1.0
jupyter_core : 4.4.0
jupyter_core.version : 4.4.0
logging : 0.5.1.2
markupsafe : 1.0
matplotlib : 2.1.2
matplotlib.backends.backend_agg : 2.1.2
numpy : 1.14.5
numpy.core : 1.14.5
numpy.core.multiarray : 3.1
numpy.core.umath : b'0.4.0'
numpy.lib : 1.14.5
numpy.linalg._umath_linalg : b'0.1.5'
numpy.matlib : 1.14.5
numpydoc : 0.7.0
optparse : 1.5.3
pandas : 0.23.1
pandas._libs.json : 1.33
parso : 0.1.1
pickleshare : 0.7.4
pkg_resources._vendor.packaging.__about__ : 16.8
pkg_resources._vendor.six : 1.10.0
pkg_resources.extern.appdirs : 1.4.0
pkg_resources.extern.packaging : 16.8
pkg_resources.extern.pyparsing : 2.1.10
pkg_resources.extern.six : 1.10.0
platform : 1.0.7
pluggy : 0.6.0
prompt_toolkit : 1.0.15
py : 1.5.2
py._vendored_packages.apipkg : 1.4
py.test : 3.3.0
pygments : 2.2.0
pyparsing : 2.2.0
pytest : 3.3.0
pytz : 2017.3
re : 2.2.1
scipy : 1.0.0
scipy._lib.decorator : 4.0.5
scipy._lib.six : 1.2.0
scipy.integrate._dop : b'$Revision: $'
scipy.integrate._ode : $Id$
scipy.integrate._odepack :  1.9
scipy.integrate._quadpack :  1.13
scipy.integrate.lsoda : b'$Revision: $'
scipy.integrate.vode : b'$Revision: $'
scipy.interpolate._fitpack :  1.7
scipy.interpolate.dfitpack : b'$Revision: $'
scipy.linalg : 0.4.9
scipy.linalg._fblas : b'$Revision: $'
scipy.linalg._flapack : b'$Revision: $'
scipy.linalg._flinalg : b'$Revision: $'
scipy.optimize._cobyla : b'$Revision: $'
scipy.optimize._lbfgsb : b'$Revision: $'
scipy.optimize._minpack :  1.10
scipy.optimize._nnls : b'$Revision: $'
scipy.optimize._slsqp : b'$Revision: $'
scipy.optimize.minpack2 : b'$Revision: $'
scipy.sparse.linalg.eigen.arpack._arpack : b'$Revision: $'
scipy.sparse.linalg.isolve._iterative : b'$Revision: $'
scipy.special.specfun : b'$Revision: $'
scipy.stats.mvn : b'$Revision: $'
scipy.stats.statlib : b'$Revision: $'
seaborn : 0.8.1
seaborn.external.husl : 2.1.0
seaborn.external.six : 1.10.0
six : 1.11.0
sklearn : 0.19.1
sklearn.base : 0.19.1
sklearn.externals.joblib : 0.11
sklearn.externals.six : 1.4.1
sphinx : 1.6.3
sphinxcontrib.websupport : 1.0.1
sphinxcontrib.websupport.version : 1.0.1
statsmodels : 0.9.0
traitlets : 4.3.2
traitlets._version : 4.3.2
urllib.request : 3.5
zlib : 1.0
zmq : 16.0.3
zmq.sugar : 16.0.3
zmq.sugar.version : 16.0.3

### Read all Tables

In [3]:
tblapplication_test = pd.read_csv('data\\application_test.csv')
tblapplication_train = pd.read_csv('data\\application_train.csv')
tblbureau = pd.read_csv('data\\bureau.csv')
tblbureau_balance = pd.read_csv('data\\bureau_balance.csv')
tblcredit_card_balance = pd.read_csv('data\\credit_card_balance.csv')
tblinstallments_payments = pd.read_csv('data\\installments_payments.csv')
tblPOS_CASH_balance = pd.read_csv('data\\POS_CASH_balance.csv')
tblprevious_application = pd.read_csv('data\\previous_application.csv')
tblsample_submission = pd.read_csv('data\\sample_submission.csv')

In [4]:
alldfs = [var for var in dir() if isinstance(eval(var), pd.core.frame.DataFrame)]
for d in alldfs:
    print(d)

tblPOS_CASH_balance
tblapplication_test
tblapplication_train
tblbureau
tblbureau_balance
tblcredit_card_balance
tblinstallments_payments
tblprevious_application
tblsample_submission

In [5]:
tblapplication_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,...,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018850,-19241,-2329,-5170.0,-812,NaN,1,1,0,1,0,1,NaN,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.752614,0.789654,0.159520,0.0660,0.0590,0.9732,NaN,NaN,NaN,0.1379,...,0.0666,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0514,NaN,NaN,NaN,block of flats,0.0392,"Stone, brick",No,0.0,0.0,0.0,0.0,-1740.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-18064,-4469,-9118.0,-1623,NaN,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.564990,0.291656,0.432962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,Working,Higher education,Married,House / apartment,0.019101,-20038,-4458,-2175.0,-3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,NaN,0.699787,0.610991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-856.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026392,-13976,-1866,-2000.0,-4208,NaN,1,1,0,1,1,0,Sales staff,4.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.525734,0.509677,0.612704,0.3052,0.1974,0.9970,0.9592,0.1165,0.32,0.2759,...,0.3081,0.1974,0.9970,0.9597,0.1173,0.32,0.2759,0.375,0.0417,0.2078,0.2446,0.3739,0.0388,0.0817,reg oper account,block of flats,0.3700,Panel,No,0.0,0.0,0.0,0.0,-1805.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010032,-13040,-2191,-4000.0,-4262,16.0,1,1,1,1,0,0,NaN,3.0,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.202145,0.425687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-821.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
tblapplication_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
tblapplication_train.shape

(307511, 122)

In [7]:
tblbureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [8]:
tblbureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [9]:
tblcredit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.0,1800.0,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.0,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.0,2250.0,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.0,11925.0,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.0,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [10]:
tblinstallments_payments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [11]:
tblPOS_CASH_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [12]:
tblprevious_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
tblsample_submission.head()

   SK_ID_CURR  TARGET
0      100001     0.5
1      100005     0.5
2      100013     0.5
3      100028     0.5
4      100038     0.5

# Metadata Review

In [22]:
data = []
for f in tblapplication_train.columns:
    #print(f, train[f].dtype)
    # Defining the role
    if f == 'TARGET':
        role = 'target'
    elif f == 'SK_ID_CURR':
        role = 'id'
    else:
        role = 'input'
         
    # Defining the level
    if 'bin' in f or f == 'target':
        level = 'binary'
    elif 'cat' in f or f == 'id':
        level = 'nominal'
    elif tblapplication_train[f].dtype == 'int64':
        level = 'ordinal'    
    elif tblapplication_train[f].dtype == 'float64':
        level = 'interval'

        
    # Initialize keep to True for all variables except for id
    keep = True
    if f == 'id':
        keep = False
    
    # Defining the data type 
    dtype = tblapplication_train[f].dtype
    
    # Creating a Dict that contains all the metadata for the variable
    f_dict = {
        'varname': f,
        'role': role,
        'level': level,
        'keep': keep,
        'dtype': dtype
    }
    data.append(f_dict)
    
meta = pd.DataFrame(data, columns=['varname', 'role', 'level', 'keep', 'dtype'])
meta.set_index('varname', inplace=True)
meta

                                role     level  keep    dtype
varname
SK_ID_CURR                        id   ordinal  True    int64
TARGET                        target   ordinal  True    int64
NAME_CONTRACT_TYPE             input   ordinal  True   object
CODE_GENDER                    input   ordinal  True   object
FLAG_OWN_CAR                   input   ordinal  True   object
FLAG_OWN_REALTY                input   ordinal  True   object
CNT_CHILDREN                   input   ordinal  True    int64
AMT_INCOME_TOTAL               input  interval  True  float64
AMT_CREDIT                     input  interval  True  float64
AMT_ANNUITY                    input  interval  True  float64
AMT_GOODS_PRICE                input  interval  True  float64
NAME_TYPE_SUITE                input  interval  True   object
NAME_INCOME_TYPE               input  interval  True   object
NAME_EDUCATION_TYPE            input  interval  True   object
NAME_FAMILY_STATUS             input  interval  True   object
NAME_HOUSING_TYPE              input  interval  True   object
REGION_POPULATION_RELATIVE     input  interval  True  float64
DAYS_BIRTH                     input   ordinal  True    int64
DAYS_EMPLOYED                  input   ordinal  True    int64
DAYS_REGISTRATION              input  interval  True  float64
DAYS_ID_PUBLISH                input   ordinal  True    int64
OWN_CAR_AGE                    input  interval  True  float64
FLAG_MOBIL                     input   ordinal  True    int64
FLAG_EMP_PHONE                 input   ordinal  True    int64
FLAG_WORK_PHONE                input   ordinal  True    int64
FLAG_CONT_MOBILE               input   ordinal  True    int64
FLAG_PHONE                     input   ordinal  True    int64
FLAG_EMAIL                     input   ordinal  True    int64
OCCUPATION_TYPE                input   ordinal  True   object
CNT_FAM_MEMBERS                input  interval  True  float64
REGION_RATING_CLIENT           input   ordinal  True    int64
REGION_RATING_CLIENT_W_CITY    input   ordinal  True    int64
WEEKDAY_APPR_PROCESS_START     input   ordinal  True   object
HOUR_APPR_PROCESS_START        input   ordinal  True    int64
REG_REGION_NOT_LIVE_REGION     input   ordinal  True    int64
REG_REGION_NOT_WORK_REGION     input   ordinal  True    int64
LIVE_REGION_NOT_WORK_REGION    input   ordinal  True    int64
REG_CITY_NOT_LIVE_CITY         input   ordinal  True    int64
REG_CITY_NOT_WORK_CITY         input   ordinal  True    int64
LIVE_CITY_NOT_WORK_CITY        input   ordinal  True    int64
ORGANIZATION_TYPE              input   ordinal  True   object
EXT_SOURCE_1                   input  interval  True  float64
EXT_SOURCE_2                   input  interval  True  float64
EXT_SOURCE_3                   input  interval  True  float64
APARTMENTS_AVG                 input  interval  True  float64
BASEMENTAREA_AVG               input  interval  True  float64
YEARS_BEGINEXPLUATATION_AVG    input  interval  True  float64
YEARS_BUILD_AVG                input  interval  True  float64
COMMONAREA_AVG                 input  interval  True  float64
ELEVATORS_AVG                  input  interval  True  float64
ENTRANCES_AVG                  input  interval  True  float64
FLOORSMAX_AVG                  input  interval  True  float64
FLOORSMIN_AVG                  input  interval  True  float64
LANDAREA_AVG                   input  interval  True  float64
LIVINGAPARTMENTS_AVG           input  interval  True  float64
LIVINGAREA_AVG                 input  interval  True  float64
NONLIVINGAPARTMENTS_AVG        input  interval  True  float64
NONLIVINGAREA_AVG              input  interval  True  float64
APARTMENTS_MODE                input  interval  True  float64
BASEMENTAREA_MODE              input  interval  True  float64
YEARS_BEGINEXPLUATATION_MODE   input  interval  True  float64
YEARS_BUILD_MODE               input  interval  True  float64
COMMONAREA_MODE                input  interval  True  float64
ELEVATORS_MODE                 input  interval  True  float64
ENTRANCES_MODE                 input  interval  True  float64
FLOORSMAX_MODE                 input  interval  True  float64
FLOORSMIN_MODE                 input  interval  True  float64
LANDAREA_MODE                  input  interval  True  float64
LIVINGAPARTMENTS_MODE          input  interval  True  float64
LIVINGAREA_MODE                input  interval  True  float64
NONLIVINGAPARTMENTS_MODE       input  interval  True  float64
NONLIVINGAREA_MODE             input  interval  True  float64
APARTMENTS_MEDI                input  interval  True  float64
BASEMENTAREA_MEDI              input  interval  True  float64
YEARS_BEGINEXPLUATATION_MEDI   input  interval  True  float64
YEARS_BUILD_MEDI               input  interval  True  float64
COMMONAREA_MEDI                input  interval  True  float64
ELEVATORS_MEDI                 input  interval  True  float64
ENTRANCES_MEDI                 input  interval  True  float64
FLOORSMAX_MEDI                 input  interval  True  float64
FLOORSMIN_MEDI                 input  interval  True  float64
LANDAREA_MEDI                  input  interval  True  float64
LIVINGAPARTMENTS_MEDI          input  interval  True  float64
LIVINGAREA_MEDI                input  interval  True  float64
NONLIVINGAPARTMENTS_MEDI       input  interval  True  float64
NONLIVINGAREA_MEDI             input  interval  True  float64
FONDKAPREMONT_MODE             input  interval  True   object
HOUSETYPE_MODE                 input  interval  True   object
TOTALAREA_MODE                 input  interval  True  float64
WALLSMATERIAL_MODE             input  interval  True   object
EMERGENCYSTATE_MODE            input  interval  True   object
OBS_30_CNT_SOCIAL_CIRCLE       input  interval  True  float64
DEF_30_CNT_SOCIAL_CIRCLE       input  interval  True  float64
OBS_60_CNT_SOCIAL_CIRCLE       input  interval  True  float64
DEF_60_CNT_SOCIAL_CIRCLE       input  interval  True  float64
DAYS_LAST_PHONE_CHANGE         input  interval  True  float64
FLAG_DOCUMENT_2                input   ordinal  True    int64
FLAG_DOCUMENT_3                input   ordinal  True    int64
FLAG_DOCUMENT_4                input   ordinal  True    int64
FLAG_DOCUMENT_5                input   ordinal  True    int64
FLAG_DOCUMENT_6                input   ordinal  True    int64
FLAG_DOCUMENT_7                input   ordinal  True    int64
FLAG_DOCUMENT_8                input   ordinal  True    int64
FLAG_DOCUMENT_9                input   ordinal  True    int64
FLAG_DOCUMENT_10               input   ordinal  True    int64
FLAG_DOCUMENT_11               input   ordinal  True    int64
FLAG_DOCUMENT_12               input   ordinal  True    int64
FLAG_DOCUMENT_13               input   ordinal  True    int64
FLAG_DOCUMENT_14               input   ordinal  True    int64
FLAG_DOCUMENT_15               input   ordinal  True    int64
FLAG_DOCUMENT_16               input   ordinal  True    int64
FLAG_DOCUMENT_17               input   ordinal  True    int64
FLAG_DOCUMENT_18               input   ordinal  True    int64
FLAG_DOCUMENT_19               input   ordinal  True    int64
FLAG_DOCUMENT_20               input   ordinal  True    int64
FLAG_DOCUMENT_21               input   ordinal  True    int64
AMT_REQ_CREDIT_BUREAU_HOUR     input  interval  True  float64
AMT_REQ_CREDIT_BUREAU_DAY      input  interval  True  float64
AMT_REQ_CREDIT_BUREAU_WEEK     input  interval  True  float64
AMT_REQ_CREDIT_BUREAU_MON      input  interval  True  float64
AMT_REQ_CREDIT_BUREAU_QRT      input  interval  True  float64
AMT_REQ_CREDIT_BUREAU_YEAR     input  interval  True  float64

In [23]:
pd.DataFrame({'count' : meta.groupby(['role', 'level'])['role'].size()}).reset_index()

     role     level  count
0      id   ordinal      1
1   input  interval     74
2   input   ordinal     46
3  target   ordinal      1

# Descriptive Statistics and Review

In [24]:
v = meta[(meta.level == 'interval') & (meta.keep)].index
tblapplication_train[v].describe()

,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,OWN_CAR_AGE,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,104582.000000,307509.000000,134133.000000,3.068510e+05,246546.000000,151450.00000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,151450.000000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,151450.000000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,159080.000000,306490.000000,306490.000000,306490.000000,306490.000000,307510.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-4986.120328,12.061091,2.152665,0.502130,5.143927e-01,0.510853,0.11744,0.088442,0.977735,0.752471,0.044621,0.078942,0.149725,0.226282,0.231894,0.066333,0.100775,0.107399,0.008809,0.028358,0.114231,0.087543,0.977065,0.759637,0.042553,0.074490,0.145193,0.222315,0.228058,0.064958,0.105645,0.105975,0.008076,0.027022,0.117850,0.087955,0.977752,0.755746,0.044595,0.078078,0.149213,0.225897,0.231625,0.067169,0.101954,0.108607,0.008651,0.028236,0.102547,1.422245,0.143421,1.405292,0.100049,-962.858788,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,3522.886321,11.944812,0.910682,0.211062,1.910602e-01,0.194844,0.10824,0.082438,0.059223,0.113280,0.076036,0.134576,0.100049,0.144641,0.161380,0.081184,0.092576,0.110565,0.047732,0.069523,0.107936,0.084307,0.064575,0.110111,0.074445,0.132256,0.100977,0.143709,0.161160,0.081750,0.097880,0.111845,0.046276,0.070254,0.109076,0.082179,0.059897,0.112066,0.076144,0.134467,0.100368,0.145067,0.161934,0.082167,0.093642,0.112260,0.047415,0.070166,0.107462,2.400989,0.446698,2.379803,0.362291,826.808487,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-24672.000000,0.000000,1.000000,0.014568,8.173617e-08,0.000527,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-7479.500000,5.000000,2.000000,0.334007,3.924574e-01,0.370650,0.05770,0.044200,0.976700,0.687200,0.007800,0.000000,0.069000,0.166700,0.083300,0.018700,0.050400,0.045300,0.000000,0.000000,0.052500,0.040700,0.976700,0.699400,0.007200,0.000000,0.069000,0.166700,0.083300,0.016600,0.054200,0.042700,0.000000,0.000000,0.058300,0.043700,0.976700,0.691400,0.007900,0.000000,0.069000,0.166700,0.083300,0.018700,0.051300,0.045700,0.000000,0.000000,0.041200,0.000000,0.000000,0.000000,0.000000,-1570.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-4504.000000,9.000000,2.000000,0.505998,5.659614e-01,0.535276,0.08760,0.076300,0.981600,0.755200,0.021100,0.000000,0.137900,0.166700,0.208300,0.048100,0.075600,0.074500,0.000000,0.003600,0.084000,0.074600,0.981600,0.764800,0.019000,0.000000,0.137900,0.166700,0.208300,0.045800,0.077100,0.073100,0.000000,0.001100,0.086400,0.075800,0.981600,0.758500,0.020800,0.000000,0.137900,0.166700,0.208300,0.048700,0.076100,0.074900,0.000000,0.003100,0.068800,0.000000,0.000000,0.000000,0.000000,-757.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-2010.000000,15.000000,3.000000,0.675053,6.636171e-01,0.669057,0.14850,0.112200,0.986600,0.823200,0.051500,0.120000,0.206900,0.333300,0.375000,0.085600,0.121000,0.129900,0.003900,0.027700,0.143900,0.112400,0.986600,0.823600,0.049000,0.120800,0.206900,0.333300,0.375000,0.084100,0.131300,0.125200,0.003900,0.023100,0.148900,0.111600,0.986600,0.825600,0.051300,0.120000,0.206900,0.333300,0.375000,0.086800,0.123100,0.130300,0.003900,0.026600,0.127600,2.000000,0.000000,2.000000,0.000000,-274.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,0.000000,91.000000,20.000000,0.962693,8.549997e-01,0.896010,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,348.000000,34.000000,344.000000,24.000000,0.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [25]:
v = meta[(meta.level == 'ordinal') & (meta.keep)].index
tblapplication_train[v].describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
count,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.00000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000
mean,278180.518577,0.080729,0.417052,-16036.995067,63815.045904,-2994.202373,0.999997,0.819889,0.199368,0.998133,0.281066,0.056720,2.052463,2.031521,12.063419,0.015144,0.050769,0.040659,0.078173,0.230454,0.179555,0.000042,0.710023,0.000081,0.015115,0.088055,0.000192,0.081376,0.003896,0.000023,0.003912,0.000007,0.003525,0.002936,0.00121,0.009928,0.000267,0.008130,0.000595,0.000507,0.000335
std,102790.175348,0.272419,0.722121,4363.988632,141275.766519,1509.450419,0.001803,0.384280,0.399526,0.043164,0.449521,0.231307,0.509034,0.502737,3.265832,0.122126,0.219526,0.197499,0.268444,0.421124,0.383817,0.006502,0.453752,0.009016,0.122010,0.283376,0.013850,0.273412,0.062295,0.004771,0.062424,0.002550,0.059268,0.054110,0.03476,0.099144,0.016327,0.089798,0.024387,0.022518,0.018299
min,100002.000000,0.000000,0.000000,-25229.000000,-17912.000000,-7197.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,-19682.000000,-2760.000000,-4299.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,-15750.000000,-1213.000000,-3254.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,367142.500000,0.000000,1.000000,-12413.000000,-289.000000,-1720.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,2.000000,2.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,456255.000000,1.000000,19.000000,-7489.000000,365243.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,3.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
#v = meta[(meta.level == 'binary') & (meta.keep)].index
#tblapplication_train[v].describe()

### Observations
* Different Ranges, review scaling
* Need a way to find missing variables or NA

## Missing Data

In [56]:
vars_with_missing = []

for f in tblapplication_train.columns:
    missings = tblapplication_train[f].isna().sum()
    if missings > 0:
        vars_with_missing.append(f)
        missings_perc = missings/tblapplication_train.shape[0]
        
        print('Variable {} has {} records ({:.2%}) with missing values'.format(f, missings, missings_perc))
        
print('In total, there are {} variables with missing values'.format(len(vars_with_missing)))

Variable AMT_ANNUITY has 12 records (0.00%) with missing values
Variable AMT_GOODS_PRICE has 278 records (0.09%) with missing values
Variable NAME_TYPE_SUITE has 1292 records (0.42%) with missing values
Variable OWN_CAR_AGE has 202929 records (65.99%) with missing values
Variable OCCUPATION_TYPE has 96391 records (31.35%) with missing values
Variable CNT_FAM_MEMBERS has 2 records (0.00%) with missing values
Variable EXT_SOURCE_1 has 173378 records (56.38%) with missing values
Variable EXT_SOURCE_2 has 660 records (0.21%) with missing values
Variable EXT_SOURCE_3 has 60965 records (19.83%) with missing values
Variable APARTMENTS_AVG has 156061 records (50.75%) with missing values
Variable BASEMENTAREA_AVG has 179943 records (58.52%) with missing values
Variable YEARS_BEGINEXPLUATATION_AVG has 150007 records (48.78%) with missing values
Variable YEARS_BUILD_AVG has 204488 records (66.50%) with missing values
Variable COMMONAREA_AVG has 214865 records (69.87%) with missing values
Variable ELEVATORS_AVG has 163891 records (53.30%) with missing values
Variable ENTRANCES_AVG has 154828 records (50.35%) with missing values
Variable FLOORSMAX_AVG has 153020 records (49.76%) with missing values
Variable FLOORSMIN_AVG has 208642 records (67.85%) with missing values
Variable LANDAREA_AVG has 182590 records (59.38%) with missing values
Variable LIVINGAPARTMENTS_AVG has 210199 records (68.35%) with missing values
Variable LIVINGAREA_AVG has 154350 records (50.19%) with missing values
Variable NONLIVINGAPARTMENTS_AVG has 213514 records (69.43%) with missing values
Variable NONLIVINGAREA_AVG has 169682 records (55.18%) with missing values
Variable APARTMENTS_MODE has 156061 records (50.75%) with missing values
Variable BASEMENTAREA_MODE has 179943 records (58.52%) with missing values
Variable YEARS_BEGINEXPLUATATION_MODE has 150007 records (48.78%) with missing values
Variable YEARS_BUILD_MODE has 204488 records (66.50%) with missing values
Variable COMMONAREA_MODE has 214865 records (69.87%) with missing values
Variable ELEVATORS_MODE has 163891 records (53.30%) with missing values
Variable ENTRANCES_MODE has 154828 records (50.35%) with missing values
Variable FLOORSMAX_MODE has 153020 records (49.76%) with missing values
Variable FLOORSMIN_MODE has 208642 records (67.85%) with missing values
Variable LANDAREA_MODE has 182590 records (59.38%) with missing values
Variable LIVINGAPARTMENTS_MODE has 210199 records (68.35%) with missing values
Variable LIVINGAREA_MODE has 154350 records (50.19%) with missing values
Variable NONLIVINGAPARTMENTS_MODE has 213514 records (69.43%) with missing values
Variable NONLIVINGAREA_MODE has 169682 records (55.18%) with missing values
Variable APARTMENTS_MEDI has 156061 records (50.75%) with missing values
Variable BASEMENTAREA_MEDI has 179943 records (58.52%) with missing values
Variable YEARS_BEGINEXPLUATATION_MEDI has 150007 records (48.78%) with missing values
Variable YEARS_BUILD_MEDI has 204488 records (66.50%) with missing values
Variable COMMONAREA_MEDI has 214865 records (69.87%) with missing values
Variable ELEVATORS_MEDI has 163891 records (53.30%) with missing values
Variable ENTRANCES_MEDI has 154828 records (50.35%) with missing values
Variable FLOORSMAX_MEDI has 153020 records (49.76%) with missing values
Variable FLOORSMIN_MEDI has 208642 records (67.85%) with missing values
Variable LANDAREA_MEDI has 182590 records (59.38%) with missing values
Variable LIVINGAPARTMENTS_MEDI has 210199 records (68.35%) with missing values
Variable LIVINGAREA_MEDI has 154350 records (50.19%) with missing values
Variable NONLIVINGAPARTMENTS_MEDI has 213514 records (69.43%) with missing values
Variable NONLIVINGAREA_MEDI has 169682 records (55.18%) with missing values
Variable FONDKAPREMONT_MODE has 210295 records (68.39%) with missing values
Variable HOUSETYPE_MODE has 154297 records (50.18%) with missing values
Variable TOTALAREA_MODE has 148431 records (48.27%) with missing values
Variable WALLSMATERIAL_MODE has 156341 records (50.84%) with missing values
Variable EMERGENCYSTATE_MODE has 145755 records (47.40%) with missing values
Variable OBS_30_CNT_SOCIAL_CIRCLE has 1021 records (0.33%) with missing values
Variable DEF_30_CNT_SOCIAL_CIRCLE has 1021 records (0.33%) with missing values
Variable OBS_60_CNT_SOCIAL_CIRCLE has 1021 records (0.33%) with missing values
Variable DEF_60_CNT_SOCIAL_CIRCLE has 1021 records (0.33%) with missing values
Variable DAYS_LAST_PHONE_CHANGE has 1 records (0.00%) with missing values
Variable AMT_REQ_CREDIT_BUREAU_HOUR has 41519 records (13.50%) with missing values
Variable AMT_REQ_CREDIT_BUREAU_DAY has 41519 records (13.50%) with missing values
Variable AMT_REQ_CREDIT_BUREAU_WEEK has 41519 records (13.50%) with missing values
Variable AMT_REQ_CREDIT_BUREAU_MON has 41519 records (13.50%) with missing values
Variable AMT_REQ_CREDIT_BUREAU_QRT has 41519 records (13.50%) with missing values
Variable AMT_REQ_CREDIT_BUREAU_YEAR has 41519 records (13.50%) with missing values
In total, there are 67 variables with missing values

FOr now we're going to remove anything that has missing values for the first pass at our model.  later we might try to impute values on the missing for better prediction.

# Clense Data
Remove missing values, scale values, etc

In [63]:
meta.loc[(vars_with_missing),'keep'] = False  # Updating the meta
meta

# Imputing with the mean or mode
#mean_imp = Imputer(missing_values=-1, strategy='mean', axis=0)
#mode_imp = Imputer(missing_values=-1, strategy='most_frequent', axis=0)

                                role     level   keep    dtype
varname
SK_ID_CURR                        id   ordinal   True    int64
TARGET                        target   ordinal   True    int64
NAME_CONTRACT_TYPE             input   ordinal   True   object
CODE_GENDER                    input   ordinal   True   object
FLAG_OWN_CAR                   input   ordinal   True   object
FLAG_OWN_REALTY                input   ordinal   True   object
CNT_CHILDREN                   input   ordinal   True    int64
AMT_INCOME_TOTAL               input  interval   True  float64
AMT_CREDIT                     input  interval   True  float64
AMT_ANNUITY                    input  interval  False  float64
AMT_GOODS_PRICE                input  interval  False  float64
NAME_TYPE_SUITE                input  interval  False   object
NAME_INCOME_TYPE               input  interval   True   object
NAME_EDUCATION_TYPE            input  interval   True   object
NAME_FAMILY_STATUS             input  interval   True   object
NAME_HOUSING_TYPE              input  interval   True   object
REGION_POPULATION_RELATIVE     input  interval   True  float64
DAYS_BIRTH                     input   ordinal   True    int64
DAYS_EMPLOYED                  input   ordinal   True    int64
DAYS_REGISTRATION              input  interval   True  float64
DAYS_ID_PUBLISH                input   ordinal   True    int64
OWN_CAR_AGE                    input  interval  False  float64
FLAG_MOBIL                     input   ordinal   True    int64
FLAG_EMP_PHONE                 input   ordinal   True    int64
FLAG_WORK_PHONE                input   ordinal   True    int64
FLAG_CONT_MOBILE               input   ordinal   True    int64
FLAG_PHONE                     input   ordinal   True    int64
FLAG_EMAIL                     input   ordinal   True    int64
OCCUPATION_TYPE                input   ordinal  False   object
CNT_FAM_MEMBERS                input  interval  False  float64
REGION_RATING_CLIENT           input   ordinal   True    int64
REGION_RATING_CLIENT_W_CITY    input   ordinal   True    int64
WEEKDAY_APPR_PROCESS_START     input   ordinal   True   object
HOUR_APPR_PROCESS_START        input   ordinal   True    int64
REG_REGION_NOT_LIVE_REGION     input   ordinal   True    int64
REG_REGION_NOT_WORK_REGION     input   ordinal   True    int64
LIVE_REGION_NOT_WORK_REGION    input   ordinal   True    int64
REG_CITY_NOT_LIVE_CITY         input   ordinal   True    int64
REG_CITY_NOT_WORK_CITY         input   ordinal   True    int64
LIVE_CITY_NOT_WORK_CITY        input   ordinal   True    int64
ORGANIZATION_TYPE              input   ordinal   True   object
EXT_SOURCE_1                   input  interval  False  float64
EXT_SOURCE_2                   input  interval  False  float64
EXT_SOURCE_3                   input  interval  False  float64
APARTMENTS_AVG                 input  interval  False  float64
BASEMENTAREA_AVG               input  interval  False  float64
YEARS_BEGINEXPLUATATION_AVG    input  interval  False  float64
YEARS_BUILD_AVG                input  interval  False  float64
COMMONAREA_AVG                 input  interval  False  float64
ELEVATORS_AVG                  input  interval  False  float64
ENTRANCES_AVG                  input  interval  False  float64
FLOORSMAX_AVG                  input  interval  False  float64
FLOORSMIN_AVG                  input  interval  False  float64
LANDAREA_AVG                   input  interval  False  float64
LIVINGAPARTMENTS_AVG           input  interval  False  float64
LIVINGAREA_AVG                 input  interval  False  float64
NONLIVINGAPARTMENTS_AVG        input  interval  False  float64
NONLIVINGAREA_AVG              input  interval  False  float64
APARTMENTS_MODE                input  interval  False  float64
BASEMENTAREA_MODE              input  interval  False  float64
YEARS_BEGINEXPLUATATION_MODE   input  interval  False  float64
YEARS_BUILD_MODE               input  interval  False  float64
COMMONAREA_MODE                input  interval  False  float64
ELEVATORS_MODE                 input  interval  False  float64
ENTRANCES_MODE                 input  interval  False  float64
FLOORSMAX_MODE                 input  interval  False  float64
FLOORSMIN_MODE                 input  interval  False  float64
LANDAREA_MODE                  input  interval  False  float64
LIVINGAPARTMENTS_MODE          input  interval  False  float64
LIVINGAREA_MODE                input  interval  False  float64
NONLIVINGAPARTMENTS_MODE       input  interval  False  float64
NONLIVINGAREA_MODE             input  interval  False  float64
APARTMENTS_MEDI                input  interval  False  float64
BASEMENTAREA_MEDI              input  interval  False  float64
YEARS_BEGINEXPLUATATION_MEDI   input  interval  False  float64
YEARS_BUILD_MEDI               input  interval  False  float64
COMMONAREA_MEDI                input  interval  False  float64
ELEVATORS_MEDI                 input  interval  False  float64
ENTRANCES_MEDI                 input  interval  False  float64
FLOORSMAX_MEDI                 input  interval  False  float64
FLOORSMIN_MEDI                 input  interval  False  float64
LANDAREA_MEDI                  input  interval  False  float64
LIVINGAPARTMENTS_MEDI          input  interval  False  float64
LIVINGAREA_MEDI                input  interval  False  float64
NONLIVINGAPARTMENTS_MEDI       input  interval  False  float64
NONLIVINGAREA_MEDI             input  interval  False  float64
FONDKAPREMONT_MODE             input  interval  False   object
HOUSETYPE_MODE                 input  interval  False   object
TOTALAREA_MODE                 input  interval  False  float64
WALLSMATERIAL_MODE             input  interval  False   object
EMERGENCYSTATE_MODE            input  interval  False   object
OBS_30_CNT_SOCIAL_CIRCLE       input  interval  False  float64
DEF_30_CNT_SOCIAL_CIRCLE       input  interval  False  float64
OBS_60_CNT_SOCIAL_CIRCLE       input  interval  False  float64
DEF_60_CNT_SOCIAL_CIRCLE       input  interval  False  float64
DAYS_LAST_PHONE_CHANGE         input  interval  False  float64
FLAG_DOCUMENT_2                input   ordinal   True    int64
FLAG_DOCUMENT_3                input   ordinal   True    int64
FLAG_DOCUMENT_4                input   ordinal   True    int64
FLAG_DOCUMENT_5                input   ordinal   True    int64
FLAG_DOCUMENT_6                input   ordinal   True    int64
FLAG_DOCUMENT_7                input   ordinal   True    int64
FLAG_DOCUMENT_8                input   ordinal   True    int64
FLAG_DOCUMENT_9                input   ordinal   True    int64
FLAG_DOCUMENT_10               input   ordinal   True    int64
FLAG_DOCUMENT_11               input   ordinal   True    int64
FLAG_DOCUMENT_12               input   ordinal   True    int64
FLAG_DOCUMENT_13               input   ordinal   True    int64
FLAG_DOCUMENT_14               input   ordinal   True    int64
FLAG_DOCUMENT_15               input   ordinal   True    int64
FLAG_DOCUMENT_16               input   ordinal   True    int64
FLAG_DOCUMENT_17               input   ordinal   True    int64
FLAG_DOCUMENT_18               input   ordinal   True    int64
FLAG_DOCUMENT_19               input   ordinal   True    int64
FLAG_DOCUMENT_20               input   ordinal   True    int64
FLAG_DOCUMENT_21               input   ordinal   True    int64
AMT_REQ_CREDIT_BUREAU_HOUR     input  interval  False  float64
AMT_REQ_CREDIT_BUREAU_DAY      input  interval  False  float64
AMT_REQ_CREDIT_BUREAU_WEEK     input  interval  False  float64
AMT_REQ_CREDIT_BUREAU_MON      input  interval  False  float64
AMT_REQ_CREDIT_BUREAU_QRT      input  interval  False  float64
AMT_REQ_CREDIT_BUREAU_YEAR     input  interval  False  float64

In [68]:
meta.keep

varname
SK_ID_CURR                       True
TARGET                           True
NAME_CONTRACT_TYPE               True
CODE_GENDER                      True
FLAG_OWN_CAR                     True
FLAG_OWN_REALTY                  True
CNT_CHILDREN                     True
AMT_INCOME_TOTAL                 True
AMT_CREDIT                       True
AMT_ANNUITY                     False
AMT_GOODS_PRICE                 False
NAME_TYPE_SUITE                 False
NAME_INCOME_TYPE                 True
NAME_EDUCATION_TYPE              True
NAME_FAMILY_STATUS               True
NAME_HOUSING_TYPE                True
REGION_POPULATION_RELATIVE       True
DAYS_BIRTH                       True
DAYS_EMPLOYED                    True
DAYS_REGISTRATION                True
DAYS_ID_PUBLISH                  True
OWN_CAR_AGE                     False
FLAG_MOBIL                       True
FLAG_EMP_PHONE                   True
FLAG_WORK_PHONE                  True
FLAG_CONT_MOBILE                 True
FLAG_PHONE                       True
FLAG_EMAIL                       True
OCCUPATION_TYPE                 False
CNT_FAM_MEMBERS                 False
REGION_RATING_CLIENT             True
REGION_RATING_CLIENT_W_CITY      True
WEEKDAY_APPR_PROCESS_START       True
HOUR_APPR_PROCESS_START          True
REG_REGION_NOT_LIVE_REGION       True
REG_REGION_NOT_WORK_REGION       True
LIVE_REGION_NOT_WORK_REGION      True
REG_CITY_NOT_LIVE_CITY           True
REG_CITY_NOT_WORK_CITY           True
LIVE_CITY_NOT_WORK_CITY          True
ORGANIZATION_TYPE                True
EXT_SOURCE_1                    False
EXT_SOURCE_2                    False
EXT_SOURCE_3                    False
APARTMENTS_AVG                  False
BASEMENTAREA_AVG                False
YEARS_BEGINEXPLUATATION_AVG     False
YEARS_BUILD_AVG                 False
COMMONAREA_AVG                  False
ELEVATORS_AVG                   False
ENTRANCES_AVG                   False
FLOORSMAX_AVG                   False
FLOORSMIN_AVG                   False
LANDAREA_AVG                    False
LIVINGAPARTMENTS_AVG            False
LIVINGAREA_AVG                  False
NONLIVINGAPARTMENTS_AVG         False
NONLIVINGAREA_AVG               False
APARTMENTS_MODE                 False
BASEMENTAREA_MODE               False
YEARS_BEGINEXPLUATATION_MODE    False
YEARS_BUILD_MODE                False
COMMONAREA_MODE                 False
ELEVATORS_MODE                  False
ENTRANCES_MODE                  False
FLOORSMAX_MODE                  False
FLOORSMIN_MODE                  False
LANDAREA_MODE                   False
LIVINGAPARTMENTS_MODE           False
LIVINGAREA_MODE                 False
NONLIVINGAPARTMENTS_MODE        False
NONLIVINGAREA_MODE              False
APARTMENTS_MEDI                 False
BASEMENTAREA_MEDI               False
YEARS_BEGINEXPLUATATION_MEDI    False
YEARS_BUILD_MEDI                False
COMMONAREA_MEDI                 False
ELEVATORS_MEDI                  False
ENTRANCES_MEDI                  False
FLOORSMAX_MEDI                  False
FLOORSMIN_MEDI                  False
LANDAREA_MEDI                   False
LIVINGAPARTMENTS_MEDI           False
LIVINGAREA_MEDI                 False
NONLIVINGAPARTMENTS_MEDI        False
NONLIVINGAREA_MEDI              False
FONDKAPREMONT_MODE              False
HOUSETYPE_MODE                  False
TOTALAREA_MODE                  False
WALLSMATERIAL_MODE              False
EMERGENCYSTATE_MODE             False
OBS_30_CNT_SOCIAL_CIRCLE        False
DEF_30_CNT_SOCIAL_CIRCLE        False
OBS_60_CNT_SOCIAL_CIRCLE        False
DEF_60_CNT_SOCIAL_CIRCLE        False
DAYS_LAST_PHONE_CHANGE          False
FLAG_DOCUMENT_2                  True
FLAG_DOCUMENT_3                  True
FLAG_DOCUMENT_4                  True
FLAG_DOCUMENT_5                  True
FLAG_DOCUMENT_6                  True
FLAG_DOCUMENT_7                  True
FLAG_DOCUMENT_8                  True
FLAG_DOCUMENT_9                  True
FLAG_DOCUMENT_10                 True
FLAG_DOCUMENT_11                 True
FLAG_DOCUMENT_12                 True
FLAG_DOCUMENT_13                 True
FLAG_DOCUMENT_14                 True
FLAG_DOCUMENT_15                 True
FLAG_DOCUMENT_16                 True
FLAG_DOCUMENT_17                 True
FLAG_DOCUMENT_18                 True
FLAG_DOCUMENT_19                 True
FLAG_DOCUMENT_20                 True
FLAG_DOCUMENT_21                 True
AMT_REQ_CREDIT_BUREAU_HOUR      False
AMT_REQ_CREDIT_BUREAU_DAY       False
AMT_REQ_CREDIT_BUREAU_WEEK      False
AMT_REQ_CREDIT_BUREAU_MON       False
AMT_REQ_CREDIT_BUREAU_QRT       False
AMT_REQ_CREDIT_BUREAU_YEAR      False
Name: keep, dtype: bool

In [121]:
v = meta[(meta.level == 'ordinal') & (meta.keep)].index
corr_heatmap(v)

NameError: name 'corr_heatmap' is not defined

### Observations

# Feature Engineering
Creating dummy variables

The values of the categorical variables do not represent any order or magnitude. For instance, category 2 is not twice the value of category 1. Therefore we can create dummy variables to deal with that. We drop the first dummy variable as this information can be derived from the other dummy variables generated for the categories of the original variable.

//TODO

# Create Training Dataset & Split for Testing (80/20)

# Feature Selection
Removing features with low or zero variance
classifier algorithm chose which features to keep
meta.keep==true

In [76]:
tblapplication_train[meta[(meta.keep == True) & (meta.keep)].index]

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
30          100035       0         Cash loans           F            N
31          100036       0         Cash loans           F            N
32          100037       0         Cash loans           F            N
33          100039       0         Cash loans           M            Y
34          100040       0         Cash loans           F            N
35          100041       0         Cash loans           F            N
36          100043       0         Cash loans           F            N
37          100044       0         Cash loans           M            N
38          100045       0         Cash loans           F            N
39          100046       0    Revolving loans           M            Y
40          100047       1         Cash loans           M            N
41          100048       0         Cash loans           F            N
42          100049       1         Cash loans           F            N
43          100050       0         Cash loans           F            N
44          100051       0         Cash loans           M            N
45          100052       0    Revolving loans           F            N
46          100053       0         Cash loans           F            N
47          100054       0         Cash loans           F            N
48          100055       0         Cash loans           F            N
49          100056       0         Cash loans           M            Y
50          100058       0    Revolving loans           F            N
51          100059       0         Cash loans           M            Y
52          100060       0         Cash loans           M            Y
53          100061       0         Cash loans           F            N
54          100062       0         Cash loans           M            Y
55          100063       0         Cash loans           F            N
56          100064       0         Cash loans           F            N
57          100068       0    Revolving loans           M            N
58          100069       0         Cash loans           M            Y
59          100070       0         Cash loans           M            Y
60          100071       0         Cash loans           F            N
61          100072       0         Cash loans           M            N
62          100073       0         Cash loans           M            Y
63          100075       0         Cash loans           F            N
64          100076       0         Cash loans           M            Y
65          100077       0         Cash loans           M            N
66          100078       0         Cash loans           F            Y
67          100079       0    Revolving loans           M            N
68          100080       0    Revolving loans           F            N
69          100081       0         Cash loans           M            Y
70          100082       0         Cash loans           M            N
71          100083       0         Cash loans           M            Y
72          100084       0         Cash loans           M            N
73          100085       0         Cash loans           M            N
74          100086       0         Cash loans           F            N
75          100087       0         Cash loans           F            N
76          100088       0    Revolving loans           F            N
77          100089       0         Cash loans           M            N
78          100093       0         Cash loans           F            N
79          100094       0         Cash loans           F            N
80          100095       0    Revolving loans           F            N
81          100096       1         Cash loans           F            N
82          100097       0         Cash loans           M            Y
83          100098       0    Revolving loans           M            Y
84          100099       0         Cash loans           F            N
85          100100       0         Cash loans           M            Y
86          100101       0         Cash loans           F            Y
87          100102       0         Cash loans           F            N
88          100103       0         Cash loans           F            N
89          100104       0         Cash loans           F            N
90          100105       0         Cash loans           F            N
91          100108       0         Cash loans           F            N
92          100110       0         Cash loans           M            Y
93          100111       0         Cash loans           F            Y
94          100112       1         Cash loans           M            Y
95          100113       0         Cash loans           M            Y
96          100114       0         Cash loans           F            N
97          100115       0         Cash loans           F            N
98          100116       0         Cash loans           F            N
99          100118       0         Cash loans           F            N
100         100119       0    Revolving loans           F            N
101         100120       0         Cash loans           F            N
102         100121       0         Cash loans           M            N
103         100122       0         Cash loans           F            N
104         100123       0         Cash loans           F            N
105         100124       0         Cash loans           M            N
106         100125       0         Cash loans           F            N
107         100126       0    Revolving loans           M            N
108         100127       0         Cash loans           M            N
109         100129       0    Revolving loans           F            Y
110         100130       1         Cash loans           F            N
111         100131       0         Cash loans           F            N
112         100132       0         Cash loans           F            N
113         100133       0         Cash loans           F            N
114         100134       0    Revolving loans           F            N
115         100135       0         Cash loans           M            N
116         100136       0         Cash loans           M            Y
117         100137       0         Cash loans           F            Y
118         100138       0         Cash loans           M            Y
119         100139       0         Cash loans           F            N
120         100140       0    Revolving loans           F            N
121         100142       0         Cash loans           M            Y
122         100143       0    Revolving loans           M            N
123         100144       0         Cash loans           F            N
124         100145       0         Cash loans           F            Y
125         100146       0         Cash loans           M            Y
126         100147       0         Cash loans           F            N
127         100148       0         Cash loans           F            N
128         100149       0         Cash loans           M            Y
129         100151       0         Cash loans           M            N
130         100152       0         Cash loans           F            N
131         100153       0         Cash loans           M            Y
132         100154       0    Revolving loans           M            N
133         100155       0         Cash loans           M            N
134         100156       0         Cash loans           F            Y
135         100157       0         Cash loans           M            N
136         100158       0         Cash loans           M            N
137         100159       0         Cash loans           F            N
138         100160       1         Cash loans           M            N
139         100161       0         Cash loans           F            N
140         100162       0         Cash loans           F            N
141         100163       0         Cash loans           F            N
142         100164       0         Cash loans           F            Y
143         100165       0         Cash loans           F            Y
144         100166       0         Cash loans           F            N
145         100167       0         Cash loans           F            N
146         100173       0         Cash loans           F            N
147         100174       0    Revolving loans           F            N
148         100175       0         Cash loans           F            N
149         100176       0         Cash loans           F            N
150         100177       0         Cash loans           M            N
151         100178       0         Cash loans           F            N
152         100179       0         Cash loans           F            Y
153         100180       0         Cash loans           F            N
154         100181       1         Cash loans           F            N
155         100182       0    Revolving loans           F            N
156         100183       0         Cash loans           F            N
157         100185       0         Cash loans           M            N
158         100186       0         Cash loans           F            N
159         100188       0         Cash loans           F            N
160         100189       0         Cash loans           F            N
161         100190       0         Cash loans           M            Y
162         100191       0         Cash loans           F            N
163         100192       1         Cash loans           F            N
164         100193       0         Cash loans           F            Y
165         100194       0    Revolving loans           F            N
166         100195       0         Cash loans           M            Y
167         100196       0         Cash loans           F            Y
168         100197       0         Cash loans           F            N
169         100198       0         Cash loans           M            Y
170         100199       0         Cash loans           F            N
171         100200       0         Cash loans           F            N
172         100201       0         Cash loans           F            N
173         100202       0         Cash loans           F            N
174         100203       0         Cash loans           F            N
175         100204       0         Cash loans           F            N
176         100205       0         Cash loans           F            N
177         100206       0         Cash loans           M            Y
178         100207       0         Cash loans           F            N
179         100208       0         Cash loans           M            N
180         100209       1    Revolving loans           M            N
181         100210       0         Cash loans           F            N
182         100211       0         Cash loans           M            N
183         100213       0         Cash loans           F            N
184         100214       1         Cash loans           F            N
185         100215       0         Cash loans           F            Y
186         100216       0         Cash loans           F            N
187         100217       0         Cash loans           F            N
188         100218       0         Cash loans           M            Y
189         100219       0         Cash loans           M            N
190         100220       0         Cash loans           F            N
191         100221       0         Cash loans           F            N
192         100224       0         Cash loans           F            Y
193         100225       0         Cash loans           M            Y
194         100226       0    Revolving loans           F            N
195         100227       0         Cash loans           M            N
196         100228       0         Cash loans           F            N
197         100229       0         Cash loans           F            N
198         100230       0    Revolving loans           F            N
199         100231       0         Cash loans           M            Y
200         100233       0         Cash loans           F            N
201         100234       0    Revolving loans           F            N
202         100235       0         Cash loans           F            N
203         100236       0         Cash loans           M            Y
204         100237       0         Cash loans           F            N
205         100238       0         Cash loans           M            Y
206         100239       0         Cash loans           F            N
207         100240       0         Cash loans           M            N
208         100242       0         Cash loans           M            Y
209         100243       0         Cash loans           M            N
210         100244       0         Cash loans           M            N
211         100246       1         Cash loans           F            N
212         100247       0         Cash loans           F            N
213         100248       0         Cash loans           F            N
214         100249       0         Cash loans           F            N
215         100250       0         Cash loans           F            Y
216         100251       0         Cash loans           M            Y
217         100252       0         Cash loans           F            N
218         100254       0         Cash loans           M            Y
219         100255       0         Cash loans           M            Y
220         100257       0         Cash loans           F            N
221         100258       0         Cash loans           F            N
222         100259       0         Cash loans           M            Y
223         100260       0         Cash loans           M            N
224         100261       0         Cash loans           F            N
225         100262       0         Cash loans           M            Y
226         100263       0         Cash loans           F            N
227         100264       0         Cash loans           F            N
228         100265       0         Cash loans           F            N
229         100266       0         Cash loans           F            N
230         100267       0         Cash loans           M            N
231         100268       0         Cash loans           F            N
232         100269       0         Cash loans           M            N
233         100270       0    Revolving loans           F            N
234         100272       0    Revolving loans           F            N
235         100273       1         Cash loans           F            N
236         100274       0         Cash loans           M            Y
237         100275       0         Cash loans           F            Y
238         100276       0         Cash loans           F            Y
239         100277       0         Cash loans           M            Y
240         100279       0         Cash loans           M            N
241         100281       0         Cash loans           F            N
242         100282       1    Revolving loans           F            Y
243         100283       0         Cash loans           F            N
244         100284       0         Cash loans           M            Y
245         100285       0    Revolving loans           F            N
246         100286       1         Cash loans           M            Y
247         100287       0         Cash loans           F            N
248         100288       0         Cash loans           F            N
249         100289       0         Cash loans           M            Y
...            ...     ...                ...         ...          ...
307261      455978       0         Cash loans           F            N
307262      455979       0         Cash loans           M            N
307263      455980       0         Cash loans           M            N
307264      455981       0         Cash loans           F            Y
307265      455982       0         Cash loans           M            Y
307266      455983       1         Cash loans           M            Y
307267      455984       0         Cash loans           F            N
307268      455985       1         Cash loans           M            N
307269      455986       0         Cash loans           F            N
307270      455987       0         Cash loans           M            Y
307271      455988       0         Cash loans           M            N
307272      455989       0         Cash loans           F            N
307273      455990       0         Cash loans           F            N
307274      455991       0         Cash loans           M            Y
307275      455992       0         Cash loans           M            Y
307276      455993       0         Cash loans           M            Y
307277      455994       0         Cash loans           M            Y
307278      455995       0         Cash loans           F            N
307279      455996       0         Cash loans           F            N
307280      455997       0         Cash loans           M            N
307281      455998       0         Cash loans           M            N
307282      455999       0         Cash loans           M            Y
307283      456000       1         Cash loans           M            Y
307284      456001       0         Cash loans           F            Y
307285      456002       1         Cash loans           F            N
307286      456003       0    Revolving loans           F            Y
307287      456004       0    Revolving loans           F            Y
307288      456005       1         Cash loans           F            N
307289      456006       0         Cash loans           F            N

In [132]:
train = tblapplication_train[meta[(meta.keep == True) & (meta.keep)].index]
test = tblapplication_test[meta[(meta.role != 'target') & (meta.keep == True) & (meta.keep)].index]

train_split, test_split = train_test_split(train, test_size=0.33, random_state=7)

#Training data
train_id = train_split['SK_ID_CURR']

train_split = train_split.drop(['TARGET', 'SK_ID_CURR'], axis=1)

#Training Valication Data
test_id = test_split['SK_ID_CURR'] 
test_target = test_split['TARGET']
test_split = test_split.drop(['TARGET', 'SK_ID_CURR'], axis=1)

print(train_split.shape)
print(test_split.shape)

#Kaggle Test Data
Test_Kaggle_ID = test['SK_ID_CURR']
Test_Kaggle = test.drop(['SK_ID_CURR'], axis=1)

(206032, 53)
(101479, 53)

# Train Models

# Test Models

# Create Submission